<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                2024 © Estate Sale
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block">
                    Gökmen Ada Tarafından Geliştirildi
                </div>
            </div>
        </div>
    </div>
</footer>