<div class="col-lg-4 cont-details">
    <address>
        <h5 class="">Ofis Adresimiz</h5>
        <p>
            <span class="fa fa-map-marker"></span>Estate sale office, 32, My Street, Kingston,
            New York 12401.
        </p>
        <h5 class="mt-4 pt-lg-3">İletişim Bilgilerimiz</h5>
        <p>
            <span class="fa fa-phone"></span> <strong>Telefon :</strong>
            <a href="tel:+1(12) 366 411 4999"> (+1) 366 411 499</a>
        </p>
        <p>
            <span class="fa fa-envelope"></span> <strong>Mail Adresi :</strong>
            <a href="mailto:mail@example.com"> mail@example.com</a>
        </p>
    </address>
</div>