@model CreateContactDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> İletişim</li>
        </ul>
    </div>
</section>

<section class="w3l-contact-7 pt-5" id="contact">
    <div class="contacts-9 pt-lg-5 pt-md-4">
        <div class="container">
            <div class="top-map">
                <div class="row map-content-9">
                    <div class="col-lg-8">
                        <div class="contact-form">
                            <h5 class="mb-2">Bizimle İletişime Geçin</h5>
                            <p class="mb-4">Her türlü soru, öneri veya geri bildiriminiz için bizimle iletişime geçebilirsiniz.</p>
                            <form method="post">
                                <div class="form-grid">
                                    <div class="input-field">
                                        <input type="text" asp-for="name" placeholder="Adınız">
                                    </div>
                                    <div class="input-field">
                                        <input type="email" asp-for="email" placeholder="Mail Adresiniz">
                                    </div>
                                </div>
                                <div class="input-field mt-4">
                                    <textarea asp-for="message" placeholder="Mesajınız"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary btn-style mt-3">Gönder</button>
                            </form>
                        </div>
                    </div>
                    @await Component.InvokeAsync("Address")
                </div>
            </div>
        </div>
        <div class="map mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3061.510523506279!2d32.85334397638205!3d39.88520073781802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f5766af368b%3A0xdb9a46c4528f02d0!2sAtakule!5e0!3m2!1str!2str!4v1719222105264!5m2!1str!2str" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </div>
</section>

