@model List<ResultContactDto>

<div class="col-xl-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Son Gelen Mesajlar</h4>
            <div class="table-responsive">
                <table class="table table-centered table-hover table-xl mb-0" id="recent-orders">
                    <thead>
                        <tr>
                            <th class="border-top-0">Adı-Soyadı</th>
                            <th class="border-top-0">Mail Adresi</th>
                            <th class="border-top-0">Oluşturma Tarihi</th>
                            <th class="border-top-0">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-truncate">@item.name</td>
                                <td class="text-truncate">@item.email</td>
                                <td class="text-truncate">@Convert.ToDateTime(item.created_at).ToString("dd.MM.yyyy HH:mm")</td>
                                <td>
                                    <a asp-controller="Contact" asp-action="Index" asp-area="Administrator" class="btn btn-primary btn-sm">Detay</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>